body{
	font-family: 'Raleway', sans-serif;
}
.logo{
    height: 60px;
    width: 120px;
    margin-left: 50px;
}
header{
	display: flex;
	justify-content: space-between;
	width: 100%;
}
#menu{
	font-size: 15px;
	display: flex;
	justify-content: space-evenly;
	padding-left: 55%;
	width: 40%;
	height: 10%;
}
.menu-hebergements{
	color: #0065FC;
	border-top: 2px blueviolet solid;
	padding-top: 4%;	
}
.menu-activites{
	padding-top: 4%;
	color: black;
}
.menu-inscription{
	color: #0065FC;
	margin-right: 70px;
	margin-top: 22px;
}
.titre{
    margin-left: 50px;
}
.fa-map-marker-alt{
    border: 1px solid #F2F2F2;
    padding: 10px 15px 10px 15px;
    background-color: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
}
input{
	padding: 11px 0px 10px 15px;
    margin-left: -0.5%;
    position: relative;
    top: -1px;
    border: 1px solid #F2F2F2;
}
.recherche{
	border: 1px solid #F2F2F2;
	padding: 9px 12px 8px 15px;
    margin-left: -5px;
    border-radius: 0px 15px 15px 0px;
    background-color: #0065FC;
    color: white;
    font-size: 18px;
}
.fa-search{
	font-size: 0px;
}
.filtres{
	margin-top: -52px;
	margin-left: 5%;
    font-weight: bold;
}
.economique{
	background-color: white;
   border-radius: 50px;
   border: 1px solid #DEEBFF;
   padding: 0px 10px 0px 0px;
   margin-right: 10px;
}
.economique:hover{
    transform: scale(1.2);
    background-color: #DEEBFF;
}
.fa-money-bill-wave{
	color: #0065FC;
   background-color: #DEEBFF;
   border: 1px solid #DEEBFF;
   border-radius: 50px;
   padding: 10px;
   margin-right: 8px;
}
.familial{
	background-color: white;
   border-radius: 50px;
   border: 1px solid #DEEBFF;
   padding: 0px 10px 0px 0px;
   margin-right: 10px;
}
.familial:hover{
    transform: scale(1.2);
    background-color: #DEEBFF;
}
.fa-child{
	color: #0065FC;
   background-color: #DEEBFF;
   border: 1px solid #DEEBFF;
   border-radius: 50px;
   padding: 10px;
   margin-right: 8px;
}
.romantique{
	background-color: white;
   border-radius: 50px;
   border: 1px solid #DEEBFF;
   padding: 0px 10px 0px 0px;
   margin-right: 10px;
}
.romantique:hover{
    transform: scale(1.2);
    background-color: #DEEBFF;
}
.fa-heart{
	color: #0065FC;
   background-color: #DEEBFF;
   border: 1px solid #DEEBFF;
   border-radius: 50px;
   padding: 10px;
   margin-right: 8px;
}
.animaux{
	background-color: white;
   border-radius: 50px;
   border: 1px solid #DEEBFF;
   padding: 0px 10px 0px 0px;
}
.animaux:hover{
    transform: scale(1.2);
    background-color: #DEEBFF;
}
.fa-dog{
   color: #0065FC;
   background-color: #DEEBFF;
   border: 1px solid #DEEBFF;
   border-radius: 50px;
   padding: 10px;
   margin-right: 8px;
}
.fa-info{
	font-size: 13px;
	background-color: white;
	color: #0065FC;
	border: 1px solid #DEEBFF;
	border-radius: 90px 90px 90px 90px;
	padding: 3px 6px 3px 6px;
}
.hebergements{
	display: flex;
	justify-content: space-around;
    margin-left: -60px;
    margin-right: 40px;
}
.none{
    font-size: 0px;
}
.marseille{
	width: 60%;
	height: auto;
	display: flex;
	flex-direction: column;
	background-color:#F2F2F2;
	border-radius: 25px;
}
.populaire{
	width: 30%;
	background-color: #eff3f2;
	border-radius: 25px;
}
.marseille_conteneur{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#hebergements{
	margin: 30px 0px 15px 35px;
}
.hebergements_marseille{
    margin-left: 20px;
    margin-top: -18px;
    font-size: 20px;
}
.marseille_article{
	border: 2px solid white;
	background-color: white;
	margin: 15px 15px 20px 30px;
	width: 320px;
	height: 300px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
    box-shadow: 1px 1px 5px silver;
}
.marseille_image{
	max-width: 350px;
	max-height: 300px;
	width: 320px;
	height: 170px;
	object-fit: cover;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.populaire_conteneur{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	width: 550px;
}
.populaire_article{
	border: 2px solid white;
    background-color: white;
    margin: 11px 25px 10px 25px;
    width: 500px;
    height: 215px;
    border-radius: 15px;
    font-size: 21px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    box-shadow: 1px 1px 5px silver;
}
.populaire_image{
	max-width: 350px;
	max-height: 300px;
	width: 220px;
	height: 215px;
	object-fit: cover;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
    margin-right: 10px;
}
.populaire_div{
    margin-left: 20px;
}
.lien_populaire{
    display: flex;
}
.marseille_populaire{
	margin-left: 5%;
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
}
.fa-star{
	color: blue;
}
.more{
	margin-left: 35px; 
}
a{
	text-decoration: none;
    color: black;
}
.titre_activites{
    margin-left: 62px;
}
.activites_titre{
    margin-left: 20px;
}
.marseille_activites{
	display: flex;
	flex-wrap: wrap;
    margin-left: -20px;
}
.activites_photo{
    max-width: 350px;
    max-height: 224px;
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.activites_image{
    max-width: 350px;
    max-height: 500px;
    width: 350px;
    height: 440px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.activites_frioul{
    width: 350px;
    height: 150px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.activites_image_2{
    width: 350px;
    height: 180px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.activites_marseille{
	border: 1px solid white;
    background-color: white;
    margin: 0% 4% 7.8% 4%;
    width: 350px;
    height: 500px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 5px silver;
}
.activites_marseille_0{
    border: 1px solid white;
    border-radius: 15px;
    width: 350px;
    height: 270px;
    margin-bottom: 5%;
    box-shadow: 1px 1px 5px silver;
}
.activites_marseille_1{
    border: 1px solid white;
    border-radius: 15px;
    width: 350px;
    height: 210px;
    margin-bottom: 5%;
    box-shadow: 1px 1px 5px silver;
}
.activites_marseille_2{
     border: 1px solid white;
    border-radius: 15px;
    width: 350px;
    height: 240px;
    margin-bottom: 5%;
    box-shadow: 1px 1px 5px silver;
}
.pieds_page{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #F2F2F2;
    font-size: 20px;
    padding: 5px 655px 23px 65px;
    font-weight: bold;
}
.propos{
    display: flex;
}
.nos_hebergements{
    display: flex;
}
.assistance{
    display: flex;
}
@media screen and (max-width: 1024px)
{
header{
    font-size: 50px;
}
#menu{
    font-size: 20px;
    padding-left: 45%;
}
.menu-hebergements{
    margin-right: 30px;
}
.menu-inscription{
    margin-top: 12px;
    margin-left: 50px;
    font-size: 20px;
}
.filtres{
    margin-left: 12%;
}
.hebergements{
    display: flex;
    justify-content: space-around;
    margin-left: -60px;
    margin-right: 40px;
    flex-direction: column-reverse;
 }
.populaire{
    width: 890px;
    margin-left: 75px;
}
.populaire_image{
    width: 245px;
    height: 150px;
    border-radius: 15px 15px 0px 0px ;
}
.populaire_conteneur{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; 
}
.populaire_article{
    width: 245px;
    height: 320px;
    font-size: 22px;
}
.lien_populaire{
    display: flex;
    flex-wrap: wrap;
}
.populaire_div{
    margin-top: -20px;
}
.marseille_image{
    max-width: 500px;
    width: 395px;
}
.marseille_activites{
    margin-left: 0px;
}
.marseille{
    margin-top: 15px;
    margin-left: 75px;
    width: 890px;
}
.marseille_article{
    width: 395px;
}
.activites_marseille{
    width: 330px;
    margin-right: 37px;
}
.activites_image{
    width: 330px;
}
.titre_activites{
    margin-left: 45px;
}
.pieds_page{
    width: 800px;
    justify-content: space-around;
    padding: 5px 55px 23px 65px;
}
@media screen and (max-width: 600px)
{
header{
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
    margin-left: 5px;
}
.logo{
    width: 40%;
    height: 40%;
}
#menu{
    font-size: 20px;
    margin-right: -38%;
    margin-top: 20%;
    margin-bottom: 4%;
    padding-left: 5%;
}
.menu-hebergements{
    border-top: none;
    margin-right: 51%;
    margin-left: -88%;
}
.menu-activites{
    margin-right: 30%;
}
.menu-inscription{
    position: relative;
    left: 35px;
    font-size: 15px;
    margin-left: 60px;
    margin-top: 32px;
    
}
a{
    text-decoration: none;
    color: black;
}
p{
    font-size: 16px;
}
.titre{
    font-size: 12px;
    margin-left: 20px;
}
.fa-map-marker-alt{
    border: 1px solid #F2F2F2;
    padding: 13px 13px 16px 13px;
    background-color: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
    font-size: 16px;
}
input{
    font-size: 17px;
    padding: 11px 15px 14px 11px;
    margin-left: -3px;
    border: 1px solid #F2F2F2;
}
.recherche{
    border: 1px solid #F2F2F2;
    margin-left: -15px;
    padding: 27px 15px 18px 30px;
    border-radius: 15px 15px 15px 15px;
    background-color: #0065FC;
    color: white;
    font-size: 0px;
    position: absolute;
}
.fa-search{
    background-color: #0065FC;
    color: white;
    font-size: 16px;
    position: absolute;
    margin: 15px 0px 0px 0px;
}
.filtres{
    margin: 0px 0px 10px -20px;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 15px 0px 15px;
}
.fa-money-bill-wave{
    color: #0065FC;
    background-color: #DEEBFF;
    border: 1px solid #DEEBFF;
    border-radius: 50px;
    padding: 10px;
    margin-right: 8px;
}
.economique{
     background-color: white;
    border-radius: 50px;
    border: 1px solid #DEEBFF;
    font-size: 17px;
 }
 .fa-child{
    color: #0065FC;
    background-color: #DEEBFF;
    border: 1px solid #DEEBFF;
    border-radius: 50px;
    padding: 10px;
    margin-right: 8px;
    margin-left: -6px;
}
.familial{
    background-color: white;
    border-radius: 50px;
    border: 1px solid #DEEBFF;
    font-size: 17px;
    margin-left: 15px;
}
.fa-heart{
    color: #0065FC;
    background-color: #DEEBFF;
    border: 1px solid #DEEBFF;
    border-radius: 50px;
    padding: 10px;
    margin-right: 10px;
    margin-left: -6px;
}
.romantique{
    background-color: white;
    border-radius: 50px;
    border: 1px solid #DEEBFF;
    font-size: 17px;
    margin-left: 5px;
    margin-top: 10px;
}
.fa-dog{
    color: #0065FC;
    background-color: #DEEBFF;
    border: 1px solid #DEEBFF;
    border-radius: 50px;
    padding: 10px;
    margin-right: 8px;
    margin-left: -6px;
}
.animaux{
    background-color: white;
    border-radius: 50px;
    border: 1px solid #DEEBFF;
    font-size: 17px;
    margin-left: 5px;
    margin-top: 10px;
}
.marseille_populaire{
    margin-left: 20px;
}
.populaire{
    width: 380px;
    height: 675px;
    background-color: whitesmoke;
    border-radius: 25px;
   margin-left: -8px;
}
.populaire_image{
    max-width: 350px;
    max-height: 300px;
    width: 170px;
    height: 180px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: 10px;
}
.lien_populaire{
    display: flex;
    flex-wrap: nowrap;
}
.populaire_conteneur{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    width: 340px;
    height: 580px;
}
.populaire_article{
    border: 2px solid white;
    background-color: white;
    margin: 0px -20px 0px 10px;
    height: 179px;
    width: 500px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    box-shadow: 1px 1px 5px silver;
    justify-content: space-between;
    margin-top: -97px;
    margin-bottom: -100px;
}
.populaire_div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 14px;
    margin-left: 1px;
}
.hebergements{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    margin-left: 10px;
 }
.marseille_image{
    max-width: 400px;
    max-height: 300px;
    width: 365px;
    height: 135px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
 .marseille_article{
    border: 1px solid white;
    background-color: white;
    margin: 5px 10px 5px 10px;
    width: 365px;
    height: 235px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px silver;
}
#hebergements{
    margin-left: 10px;
}
.hebergements_marseille{
    margin-left: 20px;
    margin-top: -18px;
    font-size: 15px;
}
.marseille{
    width: 390px;
    height: 1630px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 25px;
    margin-top: 5px;
    margin-left: -10px;
}
.marseille_conteneur{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}
.more{
    position: relative;
    margin-left: 15px;
}
.titre_activites{
    margin-left: 10px;
}
.marseille_activites{
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
}
.activites{
    margin-left: 5px;
}
.activites_image{
    max-width: 400px;
    max-height: 500px;
    width: 361px;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.activites_marseille{
    border: 1px solid white;
    background-color: white;
    margin: 0% 4% 7.8% 4%;
    width: 365px;
    height: 210px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 5px silver;
}
.activites_marseille_0{
    border: 1px solid white;
    border-radius: 15px;
    height: 235px;
    width: 361px;
    margin-bottom: 5%;
    margin-left: 17px;
    box-shadow: 1px 1px 5px silver;
}
.activites_photo{
    max-width: 400px;
    max-height: 224px;
    width: 361px;
    height: 170px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.activites_marseille_1{
    border: 1px solid white;
    border-radius: 15px;
    height: 210px;
    width: 361px;
    margin-bottom: 20px;
    margin-left: 17px;
    box-shadow: 1px 1px 5px silver;
}
.activites_frioul{
    width: 361px;
    height: 150px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.activites_image_2{
    width: 361px;
    height: 150px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.activites_marseille_2{
    border: 1px solid white;
    border-radius: 15px;
    height: 210px;
    width: 361px;
    margin-bottom: 5%;
    margin-left: 17px;
    box-shadow: 1px 1px 5px silver;
}
.pieds_page{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: whitesmoke;
    font-size: 21px;
    padding: 5px 23px 23px 20px;
    font-weight: bold;
    width: 345px;
}
}